<%= form_for(@experience, :html => {class: "form-horizontal", role: "form"}) do |e| %>
	<div class="form-group">
		<div class="control-label col-sm-2">
			<%= e.label :Nome %>
		</div>
		<div class="col-sm-8">
			<%= e.text_field :name, class: "form-control", placeholder: "Nome", autofocus: true %>
		</div>
	</div>
	<div class="form-group">
		<div class="control-label col-sm-2">
			<%= e.label :Capacidade %>
		</div>
		<div class="col-sm-8">
			<%= e.text_field :people_qtd, class: "form-control", placeholder: "Para quantas pessoas é suas experiencia?", autofocus: true %>
		</div>
	</div>
	<div class="form-group">
		<div class="control-label col-sm-2">
			<%= e.label :País %>
		</div>
		<div class="col-sm-8">
			<%= e.text_field :country, class: "form-control", placeholder: "País", autofocus: true %>
		</div>
	</div>
	<div class="form-group">
		<div class="control-label col-sm-2">
			<%= e.label :Cidade %>
		</div>
		<div class="col-sm-8">
			<%= e.text_field :city, class: "form-control", placeholder: "Cidade", autofocus: true %>
		</div>
	</div>
	<div class="form-group">
		<div class="control-label col-sm-2">
			<%= e.label :Descrição %>
		</div>
		<div class="col-sm-8">
			<%= e.text_area :description, class: "form-control", placeholder: "Convença que seu lugar é incrivel", autofocus: true %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<%= e.submit "Confirmar", class: 'btn btn-primary btn-large' %>
		</div>
	</div>
<% end %>