<div class="row">
	<div class="col-md-7">
		<h2 align="left"><%= @place.name %></h2>
		<div class="well">Descrição: <%= @place.description %></div>
		<div><strong>Anfitrião: </strong><%= @place.user.name %></div>
		<% if current_user == @place.user %>
			<%= link_to 'Editar informações', edit_place_path(@place), class: "btn btn-primary"%>
			<%= link_to 'Deletar', place_path(@place), method: :delete, data: {confirm: "Voce tem certeza?"}, class: "btn btn-danger"%>
		<% end %>
	</div>
	<div class="col-md-4 col-md-offset-1">
		<div class="row">
			<h1><%= image_tag @place.picture, class: "img-thumbnail"%></h1>
		</div>
		<div class="row show-place">
			<div class="col-sm-4">
				<%= "R$#{@place.price}/dia" %>
			</div>
			<div class="col-sm-4 col-sm-offset-1">
				<%if current_user.id != @place.user.id %>
					<%= link_to 'Reservar', new_place_reservation_path(@place), class: "btn btn-default"%>
				<% end %>
			</div>
		</div>
	</div>
</div>
